/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field .mat-mdc-text-field-wrapper {
    width: 100%;
    z-index: 0;
    padding: 6px !important;
    margin-top: 8px !important;
}