.d-flex.flex-column {
  min-height: 100vh;     /* Ensures the dashboard fills at least the viewport */
  height: 100vh;         /* Forces height to viewport unless content overflows */
}


main.col.px-4.py-4 {
  height: 100%;
  overflow-y: auto;
}
.logout:hover{
  cursor: pointer;
}